@import "../abstracts/variables.scss";
// @import "../layout/grid.scss";

.multi-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  // align-items: center;
  padding: 43px 0px 10px 0;
}

.multi__tittle {
  max-width: 484px;
  font-family: "Be Vietnam Pro";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -2.5px;
  white-space: wrap;
  padding: 40px 0;
}

.multi__line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
}

.multi__body {
  padding: 50px 0;
}

.multi-card {
  position: relative;
  height: 100%;
}

.multi-card__inner {
  position: relative;
  // perspective: 1000px;
  width: 100%;
  height: 100%;
}

.multi-card__img {
  width: 100%;
  // height: 100%;
  transition: 0.5s;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  // img {
  //   width: 100%;
  //   height: 100%;
  // }
}

.multi-card__img--back {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.multi-card:hover .multi-card__img--front {
  opacity: 0;
}

.multi-card:hover .multi-card__img--back {
  opacity: 1;
}

.multi-card .multi-card__text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 31px 34px 31px;
}

.multi-card__num {
  opacity: 0.5;
  color: rgba(30, 30, 30, 1);
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.16px;
}

.multi-card__num--02 {
  color: rgba(255, 255, 255, 1);
  opacity: 0.5;
}

.multi-card__desc {
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -0.2px;
  overflow: hidden;
  max-width: 306px;
}

.multi-card__desc--02 {
  color: #fff;
  opacity: 0.99;
}

.carousel-item {
  height: 100%;
}

.dots {
  display: none;
  justify-content: center;
}

@media (max-width: 572px) {
  .multi-container {
    // padding-top: 49px;
    padding-left: 22px;
    padding-right: 22px;
    margin: auto;
  }
  .multi__tittle {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 104%; /* 31.2px */
    letter-spacing: -1.5px;
  }
  .multi-card {
    max-width: 331px;
    background-color: #fff;
    border-radius: 20px;
  }

  .dots {
    display: block;
    padding-top: 25px;
  }

  .dots xo-carousel-pagination {
    justify-content: center;
    gap: 2px;
  }

  .dots .carousel-bullet {
    width: 18px;
    height: 5px;
    border-radius: 10px;
    background-color: #e5e5e5;
    display: inline-block;
  }
  .dots xo-carousel-bullet[xo-active] .carousel-bullet {
    background-color: #0f61ff;
    width: 55px;
  }
}
