@import "../abstracts/variables.scss";
// @import "../layout/grid.scss";

.multi-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  // align-items: center;
  padding: 43px 0px 10px 0;
}

.multi__tittle {
  max-width: 484px;
  font-family: "Be Vietnam Pro";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: -2.5px;
  white-space: wrap;
  padding: 40px 0;
}

.multi__line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
}

.multi__body {
  padding: 50px 0;
}

.multi-card {
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.multi-card .multi-card__img {
  position: relative;
  object-fit: cover;
  height: 100%; /* Thay min-height bằng height */
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.multi-card .multi-card__img:hover {
  transform: scale(1.2);
}
.multi-card .multi-card__text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 29px 31px 34px 31px;
}

.multi-card__num {
  opacity: 0.5;
  color: rgba(30, 30, 30, 1);
  font-family: "Be Vietnam Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.16px;
}

.multi-card__num--02 {
  color: rgba(255, 255, 255, 1);
  opacity: 0.5;
}

.multi-card__desc {
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -0.2px;
  overflow: hidden;
  max-width: 306px;
}

.multi-card__desc--02 {
  color: #fff;
  opacity: 0.99;
}

.multi-card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 572px) {
  .multi-container {
    // padding-top: 49px;
    padding-left: 22px;
    padding-right: 22px;
    margin: auto;
  }
  .multi__tittle {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 104%; /* 31.2px */
    letter-spacing: -1.5px;
  }
  .multi-card {
    max-width: 331px;
  }
  .multi-card__text {
    gap: 260px;
  }
}
