.pi-container {
  width: 100%;
  height: 100%;
}

.pi {
  display: flex;

  width: 100%;
  height: 100%;
  padding: 55px 0 64px 0;
}

.pi__gallery {
  flex: 57.6%;
  height: fit-content;
}

.pi__info {
  flex: 42.4%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.pi__gallery-main,
.pi__gallery-main-img,
.pi__info {
  width: 100%;
  height: 100%;
}

.pi__gallery-main-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.pi__gallery-main {
  position: relative;
  overflow: hidden;
}

.pi__gallery-thumbnails {
  display: flex;
  gap: 12px;
  padding: 55px 0 64px 0;
}

.pi__gallery-thumbnail {
  width: 107px;
  // height: 107px;
  border-radius: 10px;
  background: #d9d9d9;
  transition: all 0.5s ease;
}

.pi__gallery-thumbnail:hover {
  cursor: pointer;
  transform: scale(0.8);
}

.pi__info {
  width: 100%;
  height: fit-content;
  padding: 80px 0 72px 80px;
}

.pi__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pi__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pi__category {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  opacity: 0.5;
}

.pi__title {
  font-family: var(--Heading-font-family, "be vietnam pro");
  font-size: var(--Heading-font-size-H4, 50px);
  font-style: normal;
  font-weight: 600;
  line-height: 104%; /* 52px */
  letter-spacing: -2.5px;
}

.pi__description {
  max-width: 473px;
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "be vietnam pro");
  font-size: var(--Body-font-size-body-Sm, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  opacity: 0.7;
}

.pi__price {
  display: flex;
  align-items: center;
  gap: 4px;
}

.pi__price-new {
  color: var(--Text, #1e1e1e);
  font-family: Poppins;
  font-size: 20px;
  font-style: bold;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.pi__price-old {
  color: var(--Text, #1e1e1e);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  opacity: 0.6;
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

.pi__options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pi__option-label {
  color: var(--Text, #1e1e1e);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.5;
  margin-bottom: 8px;
}

.pi__option-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.pi__option-container {
  position: relative;
  max-width: 175px;
  width: 100%;
}

.pi__option-dropdown {
  width: 100%;
  padding: 16px 14px;
  border-radius: 12px;
  border: 1px solid var(--Others-Line-1, #e3e5e8);

  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 142%;
  color: var(--Primary-Accent-1, #1e232b);
  background-color: white;
  padding-right: 40px;
}

select option {
  width: 150%;
  color: var(--Primary-Accent-1, #1e232b);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 142%;
}

// .pi__option-arrow {
//   position: absolute;
//   top: 50%;
//   right: 14px;
//   transform: translateY(-50%);
//   pointer-events: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.pi-options__label {
  color: var(--Text, #1e1e1e);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.5;
}

.pi__colors {
  display: flex;
  align-items: stretch;
  gap: 4px;
  border: none;
  // justify-content: center;
  // align-items: center;
}

.pi__color {
  width: 28px;
  height: 28px;
  // overflow: hidden;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 1px;
}

.pi__color svg {
  width: 24px;
  height: 24px;
  background-color: white;
  transition: all 0.5s ease;
  // aspect-ratio: 1;
  border-radius: 50%;
}

.pi__color svg:hover {
  transform: scale(0.8);
}

.pi__color:hover {
  cursor: pointer;
}

.pi__color--active {
  border-radius: 50%;
  border: 1px solid rgba(15, 97, 255, 1);
}

.pi__color--disabled {
  border: none;
}

.pi__actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pi__quantity {
  display: flex;
  align-items: center;
  width: 444px;
  border-radius: 86px;
  border: 1px solid var(--Button-Primary-BG, #0f61ff);
  text-align: center;
}

.pi__quantity-value,
.pi__quantity button {
  background: transparent;
  border: none;
  padding: 8px;
}

.pi__quantity-btn svg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  padding: 8px;
}

.pi__quantity-value {
  flex-grow: 1;
  justify-self: center;
  color: var(--Button-Primary-BG, #0f61ff);
  text-align: center;
  text-overflow: ellipsis;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 23.2px */
  letter-spacing: -0.16px;
}

.pi__quantity-btn:hover {
  cursor: pointer;
}

.pi__quantity-btn--decrease {
  opacity: 0.4;
}

.pi__buttons {
  display: flex;
  gap: 8px;
}
.btn--buy-now,
.btn--add-to-cart {
  padding: 16px 20px;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
  border: 1px solid var(--Button-Primary-BG, #0f61ff);
}

.btn--buy-now {
  color: var(--Button-Primary-Label, #fff);
  border-radius: 100px;
  background: var(--Button-Primary-BG, #0f61ff);
  width: 304px;
}

.btn--add-to-cart {
  color: var(--Button-Primary-BG, #0f61ff);
  border-radius: 100px;
  background: white;
}

.pi__buttons {
  display: flex;
  gap: 8px;
}

.btn--buy-now,
.btn--add-to-cart {
  position: relative;
  border: 1px solid var(--Button-Primary-BG, #0f61ff);
  border-radius: 100px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn--buy-now:hover {
  background: green;
}

.btn--add-to-cart:hover {
  background: #fff;
  color: green;
  border: 1px solid green;
  transform: scale(0.9);
}

.accordion {
  border-top: 1px solid #e3e5e8;
}

.accordion__item {
  border-bottom: 1px solid #e3e5e8;
}

.accordion__header {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  color: #1e232b;
}

.accordion__icon {
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.accordion__content {
  display: none;
  padding-bottom: 12px;
  font-size: 14px;
  color: #4a4a4a;
}

.accordion__content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.4s ease-out, opacity 0.3s ease-out;
}

.accordion__item.active .accordion__content {
  opacity: 1;
}

.accordion__title {
  color: var(--Text, #1e1e1e);
  font-feature-settings: "ss01" on;

  /* Body/Strong/M */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
}

.accordion__text {
  color: var(--Text, #1e1e1e);
  font-feature-settings: "ss01" on;
  /* Body/Subtle/S */
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Sm, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 21.3px */
  opacity: 0.7;
}

.accordion__list li {
  list-style-type: disc;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__icon {
  transform: rotate(180deg);
}

.accordion__text {
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Sm, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}

@media (max-width: 768px) {
  .pi-container {
    padding-left: 6%;
    padding-right: 6%;
  }
  .pi {
    flex-direction: column;
  }
  .pi__details {
    padding-top: 45px;
  }
  .pi__title {
    color: var(--Primary-Accent-1, #1e232b);
    font-feature-settings: "ss01" on;
    font-family: Poppins;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    line-height: 108%; /* 39.96px */
    letter-spacing: -1.85px;
  }
  .pi__description {
    color: var(--Text, #1e1e1e);
    font-feature-settings: "ss01" on;

    /* Body/Subtle/S */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%; /* 21.3px */
  }

  .pi__option-wrapper {
    padding-top: 13px;
    flex-direction: column;
    width: 100%;
  }
  .pi__colors {
    padding-top: 13px;
  }

  .pi__option-container,
  .pi__option-dropdown {
    max-width: 100%;
  }

  .pi__quantity {
    display: none;
  }
  .pi__buttons {
    flex-direction: column;
  }
  .btn--buy-now {
    width: auto;
  }
  .pi__info {
    padding: 0;
  }
}
// section Product specification
.ps-container {
  position: absolute;
  inset: 0;
  height: 100%;
}

.ps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 7%;
  padding-bottom: 8%;
  height: 100%;
  width: 100%;
}
.ps__content {
  max-width: 509px;
  height: fit-content;
  // position: absolute;
  // inset: 0;
}

.ps__title {
  color: var(--Text, #fff);
  font-family: var(--Heading-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H6, 31px);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 37.2px */
  letter-spacing: -0.93px;
  white-space: wrap;
}

.ps-card {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
}

.ps-card__wrapper {
  width: 100%;
  padding: 14px 0;
  display: flex;
}

.ps-card__body {
  flex: 1;
  display: flex;
  justify-content: center;
}

.ps-card__header {
  padding: 0 50px;
  justify-content: center;
}
.ps-card__body {
  padding-left: 74px;
  padding-right: 59px;
}
.ps-card__append {
  padding: 0 14px;
  display: flex;
  justify-content: center;
}

.ps-card__header {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ps-card__subtitle {
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
  opacity: 0.4;
}

.ps-card__title {
  color: var(--Text, #1e1e1e);
  font-feature-settings: "ss01" on;
  font-family: var(--Heading-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H2, 75px);
  font-style: normal;
  font-weight: 600;
  line-height: 99%; /* 74.25px */
  letter-spacing: -3.75px;
}

.ps-card__parameter-item {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.ps-card__parameter-item:not(:last-child) {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.ps-card__parameter-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ps-card__parameter-name {
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-Md, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
  opacity: 0.6;
}
.ps-card__parameter-datum {
  padding-right: 56px;
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 22.1px */
  letter-spacing: -0.34px;
}

.ps-card__img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
}

@media (max-width: 578px) {
  // .ps-bg {
  //   aspect-ratio: calc(375px / 976px);
  // }

  .ps-container {
    padding: 0 25px;
  }

  .ps {
    align-items: center;
  }

  .ps-card__body,
  .ps-card__header {
    padding: 0 32px;
  }

  .ps-card__header {
    gap: 27px;
  }

  // .ps__content {
  //   top: 54px;
  // }

  .ps__title {
    width: 320px;
    color: var(--Text, #fff);
    font-feature-settings: "ss01" on;
    font-family: "Be Vietnam Pro";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%; /* 26.25px */
    letter-spacing: -0.75px;
  }
  .ps-card__wrapper {
    flex-direction: column;
  }
  .ps-card__subtitle {
    color: var(--Text, #1e1e1e);

    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 21px */
    letter-spacing: -0.15px;
  }
  .ps-card__title {
    color: var(--Text, #1e1e1e);

    font-family: "Be Vietnam Pro";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 99%; /* 59.4px */
    letter-spacing: -3px;
  }

  .ps-card__parameter-item {
    padding: 17px;
  }

  .ps-card__parameter-name {
    color: var(--Text, #1e1e1e);
    font-feature-settings: "ss01" on;
    font-family: "Be Vietnam Pro";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 21px */
    letter-spacing: -0.15px;
  }
  .ps-card__parameter-datum {
    color: var(--Text, #1e1e1e);
    font-feature-settings: "ss01" on;
    font-family: "Be Vietnam Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: -0.32px;
  }
  .ps-card__parameter-datum {
    padding: 0 23px;
  }
  .ps-card {
    bottom: 33px;
  }
}

//Customization
.custom-container {
  width: 100%;
  height: fit-content;
  padding: 65px 0;
}

.custom {
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.custom__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom__subtitle {
  padding: 24px 0 14px 0;
  color: var(--Text, #1e1e1e);
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-xS, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.custom__title {
  color: var(--Text, #1e1e1e);
  text-align: center;
  font-family: var(--Heading-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H4, 50px);
  font-style: normal;
  font-weight: 600;
  line-height: 104%; /* 52px */
  letter-spacing: -2.5px;
  max-width: 509px;
}

.custom__body {
  display: flex;
  width: 100%;
  justify-content: center;
}

.custom__body a {
  display: flex;
  justify-content: center;
}

.custom__footer {
  justify-items: center;
  align-items: center;
  // background-color: #fff;
  border-radius: 16px;
  padding-bottom: 65px;
}
.custom_footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  max-width: 782px;
}
.custom__thumb {
  // max-width: 782px;
  // max-height: 180px;
  padding-bottom: 20px;
}
.custom__body xo-carousel-slide {
  justify-items: center;
  // align-items: center;
  // display: flex;
  // width: 100%;
}
.carousel-item {
  // max-width: 509px;
  max-height: 509px;
}
.carousel-item__img {
  object-fit: cover;
  aspect-ratio: 1;
  height: 100%;
}

.custom__thumb-list {
  align-items: center;
}
.custom_thumb-item {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

xo-carousel-slide[xo-active] .custom_thumb-item .cus_thumb-img {
  border: 2px solid #0f61ff;
  border-radius: 50%;
}
.cus_thumb-img {
  padding: 2px;
  border-radius: 50%;
}

.custom__select {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.custom_select-title {
  max-width: 117px;
}

.custom_select-text {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.custom__pagination {
  padding: 17px 21px;
}
.custom__pagination xo-carousel-pagination {
  gap: 7px;
}
.custom__pagination xo-carousel-pagination xo-carousel-bullet {
  width: 117px;
  height: 2px;
  border-radius: 20px;
  background: var(--Border, #e5e5e5);
}

.custom__pagination xo-carousel-pagination xo-carousel-bullet[xo-active] {
  width: 117px;
  height: 2px;
  border-radius: 20px;
  background: var(--Border, #0f61ff);
}

// ========================ksdajsdhaksdhskdj
.c-action {
  padding: 17px 21px;
}

.c-action__pagination-list {
  display: flex;
  gap: 7px;
  justify-content: space-between;
}

.c-action__pagination-item {
  width: 117px;
  border-radius: 20px;
}

.c-action__pagination-item:hover {
  cursor: pointer;
}

.c-action__pagination-item--active {
  border: 1px solid rgba(15, 97, 255, 1);
}

.c-action__pagination-item--disable {
  border: 1px solid rgba(229, 229, 229, 1);
}

.c-action__category {
  display: flex;
  justify-content: center;
  padding: 25px 0 20px 0;
}

.c-action__carousel {
  display: flex;
  gap: 21px;
}

.c-action__select {
  color: var(--Text, #1e1e1e);
  opacity: 0.5;
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-xS, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.c-action__btn:hover {
  cursor: pointer;
}

.c-action__options-list {
  display: flex;
  // justify-content: space-between;
  gap: 4px;
}

.c-action__options {
  display: flex;
  justify-content: center;
}

.c-action__option-item {
  text-align: center;
}

.c-action__option-img img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.c-action__option-img img:hover {
  cursor: pointer;
}

.c-action__option-item--selected > .c-action__option-img img {
  // width: 43px;
  // height: 43px;
  // border-radius: 50%;
  padding: 1px;
  border: 1px solid #0f61ff;
}

.c-action__option-item--selected > .c-action__option-name h3 {
  display: block;
}

.c-action__option-name h3 {
  display: none;
  color: var(--Accent, #0f61ff);
  font-family: var(--Body-font-family, "Be Vietnam Pro");
  font-size: var(--Body-font-size-body-2xS, 13px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.c-action {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 19px;
}

@media (max-width: 768px) {
  .custom-container {
    padding: 59px 22px 22px 22px;
  }
}

// faq
.faq-container {
  padding: 88px 0;
  max-width: 877px;
  margin: auto;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.faq__body {
  width: 100%;
}
.faq__tittle {
  text-align: center;
  color: var(--Text, #1e1e1e);
  text-align: center;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 98%; /* 41.16px */
  letter-spacing: -2.1px;
}

//Modifire accordion
.accordion--border-none {
  // border-top: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.accordion__item--color-begie {
  border: none;
  border-radius: 10px;
  background: var(--Layer, #f6f6f6);
}

.accordion__header:last-child {
  border-top: 1px solid #e5e5e5;
}

.collapse-header--custom {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.accordion__header--p-26-31:last-child {
  border: none;
}
.accordion__header {
  border-top: none;
}

.accordion__header--p-26-31 {
  padding: 16px 32px 16px 32px;
  border: none;
}

.collapse--max-width-484px {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
}

.accordion__content--max-width-484px .accordion__text {
  max-width: 484px;
  overflow: hidden;
  color: var(--Text, #1e1e1e);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 21.3px */
  background-color: #f6f6f6;
}
.faq__actions {
  display: flex;
  gap: 34px;
  padding: 0 31px;
}
.faq__action-item {
  display: flex;
  gap: 5px;
}

.faq__action-body {
  align-items: center;
}

.faq__action-title {
  overflow: hidden;
  color: var(--Text, #1e1e1e);
  font-feature-settings: "ss01" on;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
}

.faq__action-data-flow {
  overflow: hidden;
  color: var(--Text, #1e1e1e);
  font-feature-settings: "ss01" on;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  opacity: 0.5;
}

@media (max-width: 768px) {
  .faq-container {
    padding: 46px 0;
  }
  .faq {
    display: flex;
    align-items: center;
    padding: 0 22px;
  }
  .faq__footer {
    display: none;
  }
  .faq__tittle {
    max-width: fit-contents;
    color: var(--Text, #1e1e1e);
    text-align: center;
    font-feature-settings: "ss01" on;
    font-family: "Be Vietnam Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 104%; /* 31.2px */
    letter-spacing: -1.5px;
  }

  .accordion__header--p-26-31 {
    display: flex;
    justify-content: space-between;
  }

  .accordion__header--p-26-31 .accordion__title {
    max-width: 229px;
    width: 229px;
    overflow: hidden;
    color: var(--Text, #1e1e1e);
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
  }
}

//recommend section
.recommend {
  padding: 55px 0;
}
.recommend__header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 31px;
}

.recommend__title {
  height: fit-content;
  color: var(--Text, #1e1e1e);
  font-feature-settings: "ss01" on;
  font-family: var(--Heading-font-family, "Be Vietnam Pro");
  font-size: var(--Heading-font-size-H5, 42px);
  font-style: normal;
  font-weight: 600;
  line-height: 98%;
  letter-spacing: -2.1px;
}
// .recommend__btn .btn-sa--relative {
//   align-items: center;
//   justify-content: center;
//   border-radius: 100px;
//   border: 1px solid var(--Button-Primary-BG, #0f61ff);
//   opacity: 0.4;
// }

.btn-sa--relative a {
  color: #0f61ff;
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 10px 32.5px;
  background-color: #fff;
  opacity: 1;
  border-radius: 100px;
  border: 1px solid rgba(15, 97, 255, 0.4);
}

.btn-sa--relative a {
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.btn-sa--relative a {
  position: relative;
  display: inline-block;
  color: #0f61ff;
  text-align: center;
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding: 10px 32.5px;
  background-color: #fff;
  opacity: 1;
  border-radius: 100px;
  border: 1px solid rgba(15, 97, 255, 0.4);
  text-decoration: none;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.btn-sa--relative a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0f61ff, #0053cc);
  transition: left 0.4s ease-in-out;
  z-index: -1;
  border-radius: 100px;
}

.btn-sa--relative a:hover {
  color: #fff;
  border-color: #0f61ff;
}

.btn-sa--relative a:hover::before {
  left: 0;
}

.recommend__paginations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommend__pagination-list {
  display: flex;
  gap: 2px;
}

.recommend__pagination-item {
  height: 5px;
  border-radius: 10px;
}

.recommend__pagination-item:hover {
  cursor: pointer;
}

.recommend__pagination-item--active {
  width: 55px;
  background: var(--Accent, #0f61ff);
}

.recommend__pagination-item--disable {
  width: 18px;
  background: var(--Accent, #f6f6f6);
}

@media (max-width: 992px) {
  .recommend {
    padding: 50px 6%;
  }
  .recommend__title {
    color: var(--Primary-Accent-1, #1e232b);
    font-feature-settings: "ss01" on;
    font-family: "Be Vietnam Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 150% */
    letter-spacing: -0.9px;
  }
  .recommend__btn {
    display: none;
  }
}

.accordion__header:last-child .accordion__header--border-none {
  border: none;
}

xo-collapse-trigger[xo-active] .collapse-header--custom {
  border-radius: 10px 10px 0 0;
}

xo-collapse[xo-active] {
  border-radius: 0 0 10px 10px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.bg-spec {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.bg-spec__item {
  position: absolute;
  inset: 0;
}

.bg-spec__url {
  position: relative;
  width: 100%;
  height: 100%;
}

.pop {
  padding: 16px 14px;
  border-radius: 12px;
  border: 1px solid var(--Others-Line-1, #e3e5e8);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
