*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --xo-container-width: 1636px;
  --xo-container-gap: 22px;
  --xo-grid-col-gap: 30px;
  --xo-grid-row-gap: 30px;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  // line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #111;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
